
/* version check 5 */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    gap: 10px;
}

.container .left,
.container .right {
    flex: 1;
    max-width: 50%;
}

#svg-container {
    flex: 1;
    min-width: 300px;
    max-width: 100%;
    height: 600px;
    background: #ffffff;
    display: block;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: grab;
    user-select: none;
}

#svg-container svg {
    cursor: pointer;
    height: 100%;
    width: 200%;
    align-items: center;
    overflow: auto;
}

#tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 3px;
    display: none;
    pointer-events: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    overflow-x: auto;
    max-height: 600px;
    display: block;
    overflow-y: auto;
}

th, td {
    padding: 8px 12px;
    text-align: left;
}

th {
    box-shadow: inset 0 -1.5px rgb(30, 155, 138); /* Serves as a bottom border. Inset keeps from disappearing on scroll */
    cursor: pointer;
    font-weight: normal;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2; /* allows the scrolled highlighted row to stay behind*/
}

th:hover {
    background-color: rgb(240, 240, 240);
}

tr:hover {
    filter: brightness(90%); /* Reduce brightness for the row on hover */
    z-index: 1; /* allows the scrolled highlighted row to stay behind*/
}

td:hover {
    background-color: rgba(155, 155, 155, 0.15);
}

.sort-icon {
    margin-left: 5px;
    font-size: 0.8em;
}

table select {
    margin: 10px;
    padding: 5px;
}